atomicwrites==1.2.1
attrs==18.2.0
biopython==1.73
cycler==0.10.0
decorator==4.3.0
kiwisolver==1.0.1
matplotlib==2.2.5
more-itertools==5.0.0
networkx==2.2
numpy==1.22.0
pluggy==0.6.0
py==1.7.0
pyparsing==2.2.0
pytest==3.6.3
python-dateutil==2.7.5
six==1.12.0
